<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/navi.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", false)
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    @RenderSection("js",false) 
</head>
<body>


    <div class="wrap">
         @Html.Partial("_Header")
        <div id="content">
             @Html.Partial("_SideBar")
             <div id="main">
                <div class="full_w">
                    @RenderBody()       
                </div>          
             </div>
            <div class="clear"/>
        </div>
         @Html.Partial("_Footer")
    </div>


   @* <div class="page">
        <div id="header">
            <div id="title">
                <h1>Mi aplicación de MVC</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                </ul>
            </div>

        </div>
        <div id="main2">
            
        </div>
        <div id="footer">
        </div>
    </div>*@


</body>
</html>
